<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Enable mod_rewrite
    RewriteBase /csapp/
    
    # If the request is for a real file or directory, pass through
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route /api/* to api/index.php
    RewriteRule ^api/(.*)$ api/index.php [QSA,L]
</IfModule>
